* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: system-ui; */
}
 body {
  scroll-behavior: smooth;
  background-image: url("background.jpg");
  background-size: cover;     
  background-position: top center;  
  background-repeat: repeat; 
  background-attachment: scroll;
  font-family: 'Plus Jakarta Sans', 'gg sans', 'Noto Sans', sans-serif;
  font-family: 'Poppins', 'gg sans', 'Noto Sans', sans-serif;
  width : 100%;
  height : 150%;
}
.navbar {
  /* background-color: #020B28; */
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  z-index: 1001;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  display: flex;
  font-size : 110%;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.logo {
  overflow-y: auto;
  top :30px;
    position: fixed;
    left : 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;

}
.logos {
  overflow-y: auto;
  top :30px;
    position: fixed;
    left : 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;

}
.nav-login {
  cursor : pointer;
    position: fixed;
    right: 65px;
    text-decoration: none;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 45px;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
    

}
.nav-login:hover{
  background-color : rgb(175, 175, 175);
  color : rgb(61, 61, 61);

}
.nav-link {
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 0.5s ease, color 0.5s ease;
  
}
.nav-link:hover {
  background-color: rgba(84, 84, 255, 0.5);
  color: white;
}
.konten {
  font-family : 'Poppins', serif;
  top: 160px;
  /* float: left; */
  justify-content: space-between;
  display: flex;
  width: 100%;
  color: white;
  z-index: 2090;
  display: inline-block;
  position: absolute;
  flex-direction : column;
}
.title {
  
  font-size : 350%;
  padding: 0 135px;
  line-height: 0.9;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.description {
  font-family: 'Poppins', sans-serif;

  padding: 0 140px;
  font-size : 150%;
  margin-top: 20px;
  font-size : 120%;
  text-transform: bold;
}
.popup {
  position: absolute;
  top: 57%;
  left: 65%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  z-index: 1000;
}
.opsi_down{
  cursor : pointer;
  display : flex;
  position : absolute;
  color : black;
  height : 50px;
  background-color : white;
  width : 285px;
  border-radius : 10px;
  font-size : 110%;
  bottom : -10px;
  left :28%;
  align-items : center;
  justify-content : center;
  transition-duration: 0.6s
}
.opsi_down:hover{
  background-color : rgb(172, 172, 172);
  color : rgb(56, 56, 56);
}
.opsi_open{
  cursor : pointer;
  display : flex;
  position : absolute;
  color : white;
  height : 50px;
  background-color : rgb(68, 143, 255);
  width : 285px;
  border-radius : 10px;
  font-size : 110%;
  bottom : -10px;
  left :52%;
  align-items : center;
  justify-content : center;
  transition-duration: 0.6s
}
.opsi_open:hover{
  background-color : rgb(38, 86, 158);
  color : rgb(172, 172, 172);
  
}

/* BOX 2 */
.box2{
  position : absolute;
  top :1500px;
  height : 630px;
  width : 1200px;
  justify-content : center;
  align-items : center;
  background: linear-gradient(135deg, #182270 0%, rgb(18, 25, 77) 70%);
  border-radius :90px;
  left : 5%;
  
}
.box_isi2{
  position : absolute;
  top : 30px;
  right: 30px;
  height : 570px;
  width : 660px;
  justify-content : center;
  align-items : center;
  background-color : white;
  border-radius :60px;
}

.box-konten2 {
  /* z-index :2000; */
  font-size :300%;
  color : white;
  left : 73px;
  top : 200px;
  display :flex;
  position : absolute;
  line-height: 0.9;

}
.box_deskripsi2 {
  font-size : 120%;
  color : white;
  left : 73px;
  top : 340px;
  display :flex;
  position : absolute;
}
/* BOX 1 */
.box1{
  position : absolute;
  top :660px;
  height : 630px;
  width : 1200px;
  justify-content : center;
  align-items : center;
  background: linear-gradient(135deg, #182270 0%, #0c123d 70%);
  border-radius :90px;
  left : 5%
}
.box_isi1{
  position : absolute;
  top : 30px;
  left: 30px;
  height : 570px;
  width : 660px;
  justify-content : center;
  align-items : center;
  background-color : white;
  border-radius :60px;
}
.box-konten1 {
  font-size :300%;
  color : white;
  right : 145px;
  top : 200px;
  display :flex;
  position : absolute;
  line-height: 0.9;

}
.box_deskripsi1 {
  font-size : 120%;
  color : white;
  right : 73px;
  top : 340px;
  display :flex;
  position : absolute;
}
.footer {
  top : 2350px;
  color : white;
  position : absolute;
  text-align : center;
  justify-content : center;
  display : flex;
  left : 18%;
  font-size : 350%;

}
  .opsi_down2{
    top :2570px;
    cursor : pointer;
    display : flex;
    position : absolute;
    color : black;
    height : 50px;
    background-color : white;
    width : 285px;
    border-radius : 10px;
    font-size : 110%;
    bottom : -10px;
    left :38%;
    align-items : center;
    justify-content : center;
    transition-duration: 0.6s
  }
  .opsi_down2:hover{
    background-color : rgb(172, 172, 172);
    color : rgb(56, 56, 56);
  }
.footer_image {
  top : 2700px;
  width :70%;
  height : 75%;
  left : 14%;
  position : absolute;
  z-index: 2001;
}
.footerA {
  width :100%;
  box-shadow: 0px -10px 15px rgba(9, 8, 37, 1.4);
  height :800px;
  position : absolute;
  background: linear-gradient(180deg, rgb(9, 8, 37) 0%, #404eed 100%);
  top :3115px;
}
.discord {
  top : 525px;
  position : absolute;
  left : 5%;
  z-index : 3002;
  width : 1200px;
  height : 200px;
}
.dlogo {
  position : absolute;
  width :65px;
  height : 45px;
  left : 3%;
  top : 90px;
}
.title_footer {
  color : rgb(204, 213, 228);
  position : absolute;
  left : 3%;
  top : 180px;

}
.social {
  color : rgb(204, 213, 228);
  position : absolute;
  left : 3%;
  top : 320px;

}
.bahasa {
  background-color : rgba(232, 233, 235, 0.2);
  color : white;
  width : 330px;
  height : 50px;
  border-radius : 15px;
  align-items : center;
  /* justify-content : center;
   */
   padding : 0 30px;
  display : flex;
  position : absolute;
  left : 3%;
  top : 220px;

}
.grup1{
  
  color : rgb(204, 213, 228);
  top : 90px;
  left : 36%;
  position : absolute;
  align-items : center;
  justify-content : center;
}
.gr1 {
  text-decoration : none;
  color : white;
  line-height :2;
}
.gr1:hover {
  color : rgba(232, 233, 235, 0.2);
  text-decoration : underline;
}
.garis {
  width : 100%;
  background-color : rgb(11, 21, 68);
  top : 2700px;
  position : absolute;
  
  
  
  align-items : center;
  justify-content : space-between;
  color : white;
  position : absolute;
  display : flex;
  padding : 0 20px;

  height : 40px;
  
}.log-box {
  width : 900px;
  height : 500px;
  background-color : rgba(59, 0, 126, 0.7);
  border: 3px solid rgba(63, 1, 179, 0.6);
  border-radius : 30px;
  position : absolute;
  top : -20px;
  left : 150px;

}